<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World</h1>
    <div th:switch="${persons}">
        <h3 th:case="null" >Pas de données</h3>
        <div th:case="*">
            <table>
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Matricule</th>
                </tr>
              </thead>
                <tbody>
                    <tr th:each="person : ${persons}">
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.matricule}"></td>
                    </tr>
            </table>
        </div>

    </div>
    <a href="/newPerson">Ajouter une personne</a>
</body>
</html>